Discovery code assumes that OIDC and Oauth2 discovery URLs return the same information

**Describe the bug**
In https://github.com/panva/node-openid-client/blob/38a5828755bb1ce0d4085fdc1813debbb60dc121/lib/issuer.js#L229 the code adds both the OIDC and OAuth2 discovery URLs and then in line 240 issues requests to both simultaneously and picks the result of either to use. However these two URLs do not have to return the same data, and this has caused problems with our app integrating with Okta. Here's an example:

according to RFC8414 (OAuth2)
>   jwks_uri
>       OPTIONAL.  URL of the authorization server's JWK Set [JWK]
>       document.  The referenced document contains the signing key(s) the
>       client uses to validate signatures from the authorization server.
>       This URL MUST use the "https" scheme.  The JWK Set MAY also
>       contain the server's encryption key or keys, which are used by
>       clients to encrypt requests to the server.  When both signing and
>       encryption keys are made available, a "use" (public key use)
>       parameter value is REQUIRED for all keys in the referenced JWK Set
>       to indicate each key's intended usage.

But for the OIDC spec:
> jwks_uri
> REQUIRED. URL of the OP's JSON Web Key Set [JWK] document. This contains the signing key(s) the RP uses to validate signatures from the OP. The JWK Set MAY also contain the Server's encryption key(s), which are used by RPs to encrypt requests to the Server. When both signing and encryption keys are made available, a use (Key Use) parameter value is REQUIRED for all keys in the referenced JWK Set to indicate each key's intended usage. Although some algorithms allow the same key to be used for both signatures and encryption, doing so is NOT RECOMMENDED, as it is less secure. The JWK x5c parameter MAY be used to provide X.509 representations of keys provided. When used, the bare key values MUST still be present and MUST match those in the certificate.

For example, take a look at https://implydatainc.okta.com/.well-known/openid-configuration vs https://implydatainc.okta.com/.well-known/oauth-authorization-server

The code should use one or the other correctly.

I’ve mentioned this somewhere already, if you use a product like okta, who’s the only one i know of having this weird duality to it, as in - yielding different results for no apparent reason - just pass the discovery URL instead of an issuer.

Why not do the right thing by default?

On Thu, Jun 11, 2020, 12:45 PM Filip Skokan <notifications@github.com>
wrote:

> Closed #267 <https://github.com/panva/node-openid-client/issues/267>.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/panva/node-openid-client/issues/267#event-3435686256>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAPSYCRUDDBRKO2T2K7JTXLRWEX7FANCNFSM4N3UHKFA>
> .
>


> right thing

“right thing” is not so clear, AFAICT (section 5 of RFC8414) when a server uses both of these, a transition period, they should yield the same result.

Looking at the two discovery results, there's no good reason for them not to be merged and yield the same result. A quirk.

IMHO the right thing is what minimizes the number of problems consumers of
this awesome library could run into. Given that Okta is such a major use
case, wouldn't you want to make it possible to use it OOB and for people
not to step into Okta's booby trap? It's not easy to google for this
specific problem on Google btw. Not many threads about it.

BTW, thank you for maintaining this library, and thank you for keeping the
number of issues 0 and cleaned up. I really appreciate your diligence and
responsiveness!

On Thu, Jun 11, 2020 at 12:57 PM Filip Skokan <notifications@github.com>
wrote:

> right thing
>
> “right thing” is not so clear, AFAICT (section 5 of RFC8414) when a server
> uses both of these, a transition period, they should yield the same result.
>
> —
> You are receiving this because you authored the thread.
> Reply to this email directly, view it on GitHub
> <https://github.com/panva/node-openid-client/issues/267#issuecomment-642897254>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/AAPSYCTSSZ2DFPYNU5EJAMTRWEZKPANCNFSM4N3UHKFA>
> .
>


> Given that Okta is such a major use case, wouldn't you want to make it possible to use it OOB and for people not to step into Okta's booby trap?

I do not tend to give in to what appear to be provider quirks. If anything, such providers should acknowledge that we're in a transition period described in the specification and software is bound to do one or the other discovery. So it should be the other way around.

We should not be writing software like we used to write HTML applications that would work on IE, "if IE, then ..."